input,
select,
textarea {
  font-size: .8em;
}
textarea {
  resize: none;
}

#source-preview,
#vault-preview {
  overflow: hidden;
  position: relative;
  header {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    z-index: 20;
  }
  p {
    font-family: 'Proxima Nova', sans-serif;
    z-index: 10;
  }
}

#source-preview {
  height: 220px;
  width: 600px;
}

#vault-preview {
  height: 285px;
  width: 721px;
}

.background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.positioning-container {
  left: 30px;
  position: relative;
}

#designOptions li {
  cursor: pointer;
}

.option1, .option2, .option3 {
  header {
    line-height: 1;
    margin-bottom: 12px;
  }
  .location,
  .date-time {
    margin-bottom: 12px;
  }
  .location {
    font-weight: 300;
  }
}

/* Source: Option 1 Theme */
#source-preview.option1 {
  .background {
    background: #fff url('/images/bg-option1.png') no-repeat right top;
    background-size: 220px 220px;
  }
  .positioning-container {
    width: 364px;
  }
  header {
    color: #003d79;
    font-size: 23px;
  }
  .location,
  .date-time {
    font-size: 17px;
  }
}

/* Vault: Option 1 Theme */
#vault-preview.option1  {
  .background {
    background: #fff url('/images/bg-option1.png') no-repeat right top;
    background-size: 285px 285px;
  }
  .positioning-container {
    width: 434px;
  }
  header {
    color: #003d79;
    font-size: 28px;
  }
  .location,
  .date-time {
    font-size: 21px;
  }
}

/* Source: Option 2 Theme */
#source-preview.option2 {
  color: #fff;
  .background {
    background: #6e6e6e url('/images/bg-option2.png') no-repeat right bottom;
    background-size: 165px 220px;
  }
  .positioning-container {
    width: 410px;
  }
  header {
    font-size: 27px;
  }
  .location,
  .date-time {
    font-size: 20px;
  }
  .finePrint {
    color: #ccc;
  }
}
/* Vault: Option 2 Theme */
#vault-preview.option2 {
  color: #fff;
  .background {
    background: #6e6e6e url('/images/bg-option2.png') no-repeat right bottom;
    background-size: 214px 285px;
  }
  .positioning-container {
    width: 510px;
  }
  header {
    font-size: 32px;
  }
  .location,
  .date-time {
    font-size: 24px;
  }
  .finePrint {
    color: #ccc;
  }
}

/* Source: Option 3 Theme */
#source-preview.option3 {
  .background {
    background: #fff url('/images/bg-option3.png') no-repeat right top;
    background-size: 110px 220px;
  }
  .positioning-container {
    width: 410px;
  }
  header {
    font-size: 27px;
  }
  .location,
  .date-time {
    font-size: 20px;
  }
  .finePrint {
    color: #999;
  }
}

/* Vault: Option 3 Theme */
#vault-preview.option3 {
  .background {
    background: #fff url('/images/bg-option3.png') no-repeat right top;
    background-size: 143px 285px;
  }
  .positioning-container {
    width: 510px;
  }
  header {
    font-size: 32px;
  }
  .location,
  .date-time {
    font-size: 24px;
  }
  .finePrint {
    color: #999;
  }
}