// Variables
$kong-primary-color: #062f4d;

// Mixins
@for $i from 1 through 6 {
  h#{$i} {
    font-weight: normal;
  }
}

// Extends
.hide-text {
  font: 0/0 a;
}

// Global Styles
body {
  background-color: #fff;
  color: rgba(0, 0, 0, .7);
  font: normal 16px/1.3 'Roboto', Helvetica, sans-serif;
}

// Nav Modules
header {
  background-color: $kong-primary-color;
  nav {
    height: 80px;
  }
}

.brand {
  background: url(/img/kong.svg) no-repeat;
  display: block;
  font: 0/0 a;
  width: 180px;
  height: 32px;
}

.site-navigation {
  flex-grow: 2;
  a {
    color: rgba(255, 255, 255, .45);
    font: 600 12px/1 -apple-system, sans-serif;
    letter-spacing: 1px;
    transition: all 0.5s ease-out;
    &:active,
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

a.btn-demo,
a.btn-installation {
  color: rgba(255, 255, 255, 1);
  transition: all 0.5s ease-out;
}
.btn-demo {
  border: 1px solid rgba(255, 255, 255, .5);
  &:active,
  &:hover {
    border-color: rgba(255, 255, 255, 1);
  }
}
.btn-installation {
  background-color: rgba(0, 75, 128, .5);
  &:active,
  &:hover {
    background-color: rgba(0, 75, 128, 1);
  }
}

.secondary-nav {
  box-shadow: 0 1px 2px #ccc;
  h2 {
    color: $kong-primary-color;
    font: 600 14px/1 -apple-system, sans-serif;
    letter-spacing: 1px;
  }
}

.page-navigation {
  height: 80px;
  line-height: 80px;
  margin: 0 0 0 auto;
  a {
    color: rgba(0, 0, 0, .45);
    display: block;
    height: 80px;
    line-height: 80px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    &.active,
    &:active,
    &:hover {
      border-bottom: 2px solid $kong-primary-color;
      color: $kong-primary-color;
    }
  }
}

.hero {
  background: #f2f4f5 url(/img/hero-art.svg) no-repeat center center;
  background-size: cover;
}

.kong-stats {
  big {
    color: $kong-primary-color;
  }
}