:root {
  --blue: #007bff;
  --offblack: #222;
  --orange: #ff7d28;
  --teal: #00e1e1;
  --white: #efefef;
  --yellow: #ffc107;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--teal);
  color: var(--offblack);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 1.5em;
  line-height: 1.12;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 760px;
}

header {
  text-align: center;
}

figure {
  margin: 0;
  padding: 0;
}

figure img {
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: auto;
  width: 100%;
}

figure img.active {
  width: 256px;
}

.overlay {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.modal {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 20;
}

.btn-start,
.btn-refresh {
  background-color: rgba(0, 0, 0, .67);
  color: var(--white);
  display: block;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background 500ms ease-out;
}

.btn-start:hover,
.btn-refresh {
  background-color: rgba(0, 0, 0, 1);
}

.stats {
  display: flex;
}

.total-indicator {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.total-indicator strong {
  margin-left: .25em;
}

.total-indicator strong:first-child {
  margin-left: 0;
  margin-right: .25em;
}

.options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.options button {
  background-color: transparent;
  border: 2px solid var(--offblack);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 1em 0;
  outline: none;
  padding: 1em;
  width: 45%;
}

.options button:hover {
  border-color: var(--white);
  color: var(--white);
  text-shadow: 1px 1px 5px var(--offblack);
}

.message {
  text-align: center;
}

.hide {
  display: none;
  height: 0;
}

.img-25 {
  width: 25%;
}

.scoreboard {
  width: 100%;
}
.scoreboard td {
  text-align: center;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

/* Timer */
#countdown {
  height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
}

#countdown-number {
  color: inherit;
  display: inline-block;
  font: 14px/40px monospace;
  text-align: center;
}

svg {
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotateY(-180deg) rotateZ(-90deg);
  width: 40px;
}

svg circle {
  /* animation-duration value should match
     with const COUNTDOWN and let countdown (app.js,
     line 161 and 162 respectively  */
  animation: countdown 20s linear forwards;
  fill: none;
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: var(--offblack);
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

/* Media Query: Tablet */
@media screen and (max-width: 767px) {
  .container {
    width: 580px;
  }
}

/* Media Query: Mobile */
@media screen and (max-width: 640px) {
  body {
    font-size: .67em;
  }
  .container {
    width: calc(100% - 65px);
  }
}