header {
  h1 { line-height: 1.33; }
  h2 { line-height: 1.5; }
}

.work-item {
  overflow: hidden;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s cubic-bezier(0.11, 1.25, 0.67, 1.1);
  -o-transition: 0.6s cubic-bezier(0.11, 1.25, 0.67, 1.1);
  transition: 0.6s cubic-bezier(0.11, 1.25, 0.67, 1.1);
}

.work-item {
  &.hover,
  &:hover {
    > a .front {
      opacity: 0 ;
    }
    > a .back {
      opacity: 1;
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}

.front {
  z-index: 2;
}

.back {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

figure {
  height: 100%;
  position: relative;
}

figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}