<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Banner Generator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
  <link rel="stylesheet" href="dist/css/app.css"/>
  <script src="lib/moment.min.js"></script>
  <script src="https://unpkg.com/vue@2.5.11/dist/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.js"></script>
</head>
<body class="sans-serif ma4">
  
  <div id="app" class="w-100">

    <h1 class="black-60 f5 ttu tracked">Banner Generator (Beta)</h1>
    
    <div class="flex items-center">

      <div class="w-30">
        <div class="bg-light-gray black-80 pv2">
          <ol>
            <li class="mb2">Choose a banner design</li>
            <li class="mb2">Update the text</li>
            <li>Download</li>
          </ol>
        </div>

        <form method="get" id="textGenerator" class="pt4">
          <label class="dib mb2 w-100">
            <div class="black-50 dib f7 mr1 tracked ttu">Design</div>
            <ul id="designOptions" class="list pl0">
              <li v-for="item in options" class="tc dib mr2">
                <img alt="" class="option ba bw2 b--black-10 br2 h3 w3 dib" @click="pickOption" :src="'/images/btn-' + item.value + '.png'" :data-option="item.value">
              </li>
            </ul>
          </label>
          <label for="headline" class="dib mb4 w-100">
            <div class="black-50 f7 mb1 tracked ttu">Headline</div>
            <input type="text" name="headline" v-model="headline" class="ba b--black-40 pa1 w-100">
          </label>
          <label for="location" class="dib mb4 w-100">
            <div class="black-50 f7 mb1 tracked ttu">Location</div>
            <textarea name="location" v-model="location" cols="30" rows="5" class="ba b--black-40 pa1 w-100"></textarea>
          </label>
          <label for="date" class="dib mb4 w-100">
            <div class="black-50 f7 mb1 tracked ttu">Date</div>
            <input type="text" name="date" v-model="dateDisplay" class="ba b--black-40 pa1 w-100">
          </label>
          <label for="time" class="dib mb4 w-100">
            <div class="black-50 f7 mb1 tracked ttu">Time</div>
            <input type="text" name="time" v-model="timeDisplay" class="ba b--black-40 pa1 w-100">
          </label>
          <label for="finePrint" class="dib mb4 w-100">
            <div class="black-50 f7 mb1 tracked ttu">Fine Print</div>
            <input type="text" name="finePrint" v-model="finePrint" class="ba b--black-40 pa1 w-100">
          </label>
        </form>
      </div>

      <div class="w-10"></div>
      
      <div class="w-60">
        <div class="target hide ba b--black-40 flex items-center mv4"
          v-for="type in types"
          :id="type.value + '-preview'"
          :data="options.option">
          <div class="positioning-container">
            <header class="ma0 relative ttu">{{ headline }}</header>  
            <p class="location ma0 relative">{{ location }}</p>
            <p class="date-time ma0 relative"><strong class="db">{{ dateDisplay }}</strong> {{ timeDisplay }}</p>
            <p class="finePrint ma0 relative"><small>{{ finePrint }}</small></p>
          </div>
          <div class="background"></div>
        </div>
        <p class="black-50 f7 ttu tracked">Source <a href="#" id="source-download" class="bg-green br-pill dib dim link ml2 mr4 ph3 pv2 white">Download</a>
        Vault <a href="#" id="vault-download" class="bg-green br-pill dib dim link ml2 ph3 pv2 white">Download</a> </p>  
      </div>
    </div>
  </div>

  <script src="app.js"></script>

</body>
</html>